table{
    border-collapse: collapse;
}

th, td{
    border: solid 2px;

    text-align: center;
}

.error_message{
    color: red;
}

.black {
    color: black;
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid black;
}
.red {
    color: red;
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid red;
}
.green {
    color: green;
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid green;
}
.yellow {
    color: rgb(255, 200, 0);
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid rgb(255, 200, 0);
}
.blue {
    color: blue;
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid blue;
}

.disabled {
    text-decoration: line-through;
}