{% extends "base.html" %}
{% block content %}
    <h1>Todoリスト</h1>
    <div>
        <form method="POST">
            <input type="text" name="title" placeholder="タイトルを入力してください">
            <input type="submit" value="検索">
        </form>
        <a href="/create">Todo作成</a>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>タイトル</th>
                <th>内容</th>
                <th>日付</th>
                <th>タグ</th>
                <th>編集</th>
                <th>削除</th>
            </tr>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.do }}</td>
                <td>{{ todo.memo }}</td>
                <td>{{ todo.day }}</td>
                <td>
                    {% if todo.important %}<span class="important_tag">重要</span> {% endif %}
                    {% if todo.uni %}<span class="uni_tag">大学</span> {% endif %}
                    {% if todo.private %}<span class="private_tag">プライベート</span> {% endif %}
                    {% if todo.task %}<span class="task_tag">タスク</span> {% endif %}
                </td>
                <td><a href="/{{todo.id}}/update" role=button>編集</a></td>
                <td><a href="/{{todo.id}}/delete" role="buttom">削除</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if flag==1 %}
        <div>
            <a href="/home" role="button">全てのTodoを再表示</a>
        </div>
    {% endif %}
    <div>
        <a href="/logout" role="button">トップページへ</a>
    </div>
{% endblock %}