{% extends "base.html" %}
{% block content %}
    <h1>Todo編集</h1>
    <p class="error_message">{{ error }}</p>
    <form method="POST">
        <div>
            <div>
                <label for="">やること</label>
                <input type="text" name="do" value="{{ todo.do }}">
            </div>
            <div>
                <label for="">メモ</label>
                <input type="text" name="memo" value="{{ todo.memo }}">
            </div>
            <div>
                <label for="">日付</label>
                <input type="date" name="day" value="{{ todo.day }}">
            </div>
        </div>
        <div>
            <label for="important">重要:</label>
            <input type="checkbox" name="important" id="important" {% if todo.important %}checked{% endif %}>
        
            <label for="uni">大学:</label>
            <input type="checkbox" name="uni" id="uni" {% if todo.uni %}checked{% endif %}>
        
            <label for="private">プライベート:</label>
            <input type="checkbox" name="private" id="private" {% if todo.private %}checked{% endif %}>
        
            <label for="task">タスク:</label>
            <input type="checkbox" name="task" id="task" {% if todo.task %}checked{% endif %}>
        </div>
        <div>
            <input type="submit" value="更新">
        </div>
    </form>
    <div>
        <a href="/home" role="button">戻る</a>
        <a href="/logout" role="button">トップページへ</a>
    </div>
{% endblock %}